# Quiz on Data Ingestion

This notebook contains the code for answering the first quiz of the online course '[Data Science and Machine Learning Capstone Project](https://www.edx.org/course/data-science-and-machine-learning-capstone-project)'. Its primary purpose is to familiarise ourselves with the datasets. 

Pandas is the only library required for this task.

In [1]:
import pandas as pd

# Data

## NYC 311 Dataset

The dataset is available on the [NYC Open Data](https://data.cityofnewyork.us/Social-Services/311-Service-Requests-from-2010-to-Present/erm2-nwe9) website. The course authors have already downloaded the data and placed it on an IBM server for our convenience. We can download the data using [this link](https://cocl.us/311_NYC_Dataset). 

We can load the data from the CSV file by using the `read_csv()` method. We specify the total number of rows as 10 million and download data only for relevant columns so that the data volume is manageable.

In [2]:
columns = ['Created Date', 'Unique Key', 'Complaint Type', 'Incident Zip', 'Incident Address', 'Street Name',
           'Address Type', 'City', 'Resolution Description', 'Borough', 'Latitude', 'Longitude', 'Closed Date', 
           'Location Type', 'Status']

df = pd.read_csv('311_Service_Requests_from_2010_to_Present_min.csv', 
                 nrows = 1E+7, 
                 usecols = columns,
                 parse_dates = ['Created Date', 'Closed Date'])

Once the DataFrame is created, we can inspect the top five rows with the `head()` method.

In [3]:
print ('The dataset contains {} rows and {} columns.'.format(df.shape[0], df.shape[1]))
df.head()

The dataset contains 6019843 rows and 15 columns.

,Unique Key,Created Date,Closed Date,Complaint Type,Location Type,Incident Zip,Incident Address,Street Name,Address Type,City,Status,Resolution Description,Borough,Latitude,Longitude
0,45531130,2020-02-02 06:09:17,NaT,HEAT/HOT WATER,RESIDENTIAL BUILDING,10019.0,426 WEST 52 STREET,WEST 52 STREET,ADDRESS,NEW YORK,Open,The following complaint conditions are still o...,MANHATTAN,40.765132,-73.988993
1,45529784,2020-02-02 14:15:24,NaT,UNSANITARY CONDITION,RESIDENTIAL BUILDING,11204.0,1751 67 STREET,67 STREET,ADDRESS,BROOKLYN,Open,The following complaint conditions are still o...,BROOKLYN,40.618484,-73.992673
2,45527528,2020-02-02 02:27:41,NaT,HEAT/HOT WATER,RESIDENTIAL BUILDING,11372.0,87-15 37 AVENUE,37 AVENUE,ADDRESS,Jackson Heights,Open,The following complaint conditions are still o...,QUEENS,40.750269,-73.879432
3,45530329,2020-02-02 12:13:18,NaT,HEAT/HOT WATER,RESIDENTIAL BUILDING,10458.0,2405 SOUTHERN BOULEVARD,SOUTHERN BOULEVARD,ADDRESS,BRONX,Open,The following complaint conditions are still o...,BRONX,40.853773,-73.881558
4,45528814,2020-02-02 13:59:44,NaT,APPLIANCE,RESIDENTIAL BUILDING,11209.0,223 78 STREET,78 STREET,ADDRESS,BROOKLYN,Open,The following complaint conditions are still o...,BROOKLYN,40.629745,-74.030533

We can check the data type of each column:

In [4]:
df.dtypes

Unique Key                         int64
Created Date              datetime64[ns]
Closed Date               datetime64[ns]
Complaint Type                    object
Location Type                     object
Incident Zip                     float64
Incident Address                  object
Street Name                       object
Address Type                      object
City                              object
Status                            object
Resolution Description            object
Borough                           object
Latitude                         float64
Longitude                        float64
dtype: object

Notice that the features 'Created Date' and 'Closed Date' are datetimes.

## NYC PLUTO Dataset

We can download the PLUTO dataset as a zip file from [this link](https://www1.nyc.gov/assets/planning/download/zip/data-maps/open-data/nyc_pluto_18v1.zip). After extracting the file, we should have five CSV files for the five New York City boroughs: the Bronx, Brooklyn, Manhattan, Queens, and Staten Island.

For questions 4 and 5, we need the Bronx and Queens datasets, respectively.

In [5]:
df_bronx = pd.read_csv('BX_18v1.csv')
df_bronx.head()

C:\Users\ko40\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (19,20,22,23,64,65,80) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLAG,PFIRM15_FLAG,Version
0,BX,2260,1,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
1,BX,2260,4,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
2,BX,2260,10,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
3,BX,2260,17,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
4,BX,2260,18,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1

In [6]:
df_queens = pd.read_csv('QN_18v1.csv')
df_queens.head()

C:\Users\ko40\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (19,20,22,23,64,65,77) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLAG,PFIRM15_FLAG,Version
0,QN,6,1,402,1.0,NaN,30.0,26.0,11101.0,L115,...,Y,401 011,40101.0,NaN,4.000060e+09,09/20/2013,1,1.0,1.0,18V1
1,QN,6,3,402,1.0,1015.0,30.0,26.0,11101.0,L115,...,NaN,401 011,40101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
2,QN,6,8,402,1.0,1011.0,30.0,26.0,11101.0,L115,...,NaN,401 011,40101.0,NaN,4.000060e+09,08/07/2013,1,1.0,1.0,18V1
3,QN,6,20,402,1.0,NaN,30.0,26.0,11101.0,L115,...,NaN,401 011,40101.0,NaN,4.000060e+09,09/20/2013,1,1.0,1.0,18V1
4,QN,6,30,402,1.0,NaN,30.0,26.0,11101.0,L115,...,NaN,401 011,40101.0,NaN,4.000060e+09,09/08/2017,1,1.0,1.0,18V1

<br>

---

# Quiz

## Question 1

The (NYC 311) dataset contains complaints logged since what date?

In [7]:
df['Created Date'].min()

Timestamp('2010-01-01 00:00:00')

## Question 2

The (NYC 311) dataset contains complaints logged till what date?

In [8]:
df['Created Date'].max()

Timestamp('2020-02-02 23:58:57')

Note that the dataset contains data only until the 2nd of February.  


## Question 3

How many incidents have a missing Incident Address?

In [9]:
df['Incident Address'].isnull().sum()

52825

## Question 4

How many valid ZIP Codes exist in the Bronx PLUTO dataset?

In [10]:
len(df_bronx['ZipCode'].value_counts())

26

Alternatively:

In [11]:
df_bronx['ZipCode'].nunique()

26

## Question 5

How many valid ZIP Codes exist in the Queens PLUTO dataset?

In [12]:
df_queens['ZipCode'].nunique()

65